#upload{
    width:25%;
    height:20%;
    margin-left:40%;
   	margin-top:20%;
}

#body{
    font-family: Helvetica;
}

.common_style{
	text-decoration:none;
	color:blue;
}

#progress{
	margin-top:30px;
	width:25%;
}

#spinner{
	width:50px;
	height:20px;
	float:left;
}

#samples{
    margin-bottom:10px;
}
#message{
	width:240px;
	float:left;
	color:#373737;
}